.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15rem;
  background-color: white;
  padding-top: 4.25rem;
  padding-left: 1rem;
  z-index: 10;
  transition: 1s;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: translateX(-15rem);
  box-shadow: $box-shadow;

  .side-menu-toggle,
  .side-menu-toggle:active {
    padding: 0;
    border: none;
    outline: none;
    position: absolute;
    top: 4.25rem;
    right: -1rem;
    transition: all .5s;
    cursor: pointer;

    svg, i {
      transition: all .5s;
      position: absolute;
      backface-visibility: hidden;
      transform-style: preserve-3d;
      transform: rotate(0);
    }
  }

  .side-nav-chapter.active {
    color: $link;
  }

  &.active {
    transform: translateX(0);

    .side-menu-toggle {
      transform: translate(-3rem);
      svg, i {
        transform: rotate(180deg);
      }
    }
  }
}