* {
  // margin: 0;
  // padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

ol {
  list-style-position: inside;
}

button {
  background-color: transparent;
  border: none;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.pb-3 { padding-bottom: 3rem; }

.mb-0 {
  margin-bottom: 0;
}

.mb-3 {
  margin-bottom: 3rem;
}

.chapter-text {
  width: 100%;
  height: 80vh;
  background-color: transparent;
  resize: none;
  border: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 1rem;

  &:focus {
    border: none;
    outline: none;
  }
}

input {
  margin-bottom: 1.5rem;
}

.section {
  padding-bottom: 0;
}

.capitalize {
  text-transform: capitalize;
}

.menu-list .link {
  border-radius: 2px;
  color: $slate;
  display: block;
  padding: 0.5em 0.75em;
  cursor: pointer;

  &:hover {
    background-color: whitesmoke;
    color: lighten($slate, 10%);
  }
}

.panel-block {
  position: relative;
}

.edit,
.edit:active {
  position: absolute;
  right: .75em;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  outline: none;

  .fa-cog {
    cursor: pointer;

    &:hover {
      color: $orange;
      z-index: 10;
    }

    &:active {
      color: darken($orange, 15%);
    }
  }  
}