* {
  // margin: 0;
  // padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

ol {
  list-style-position: inside;
}

button {
  background-color: transparent;
  border: none;
}

.delete {
  background-color: $orange;

  &:hover {
    background-color: darken($orange, 15%);
  }
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.justify-center {
  display: flex;
  justify-content: center;
}

textarea {
  width: 100%;
  height: 80vh;
  margin-top: 3rem;
  // background-color: #eee;
  resize: none;
  border: none;

  &:focus {
    border: none;
    outline: none;
  }
}

.section {
  padding-bottom: 0;
}