.modal-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($black, 0.5);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.modal {
  background-color: $white;
  border-top: .8rem solid $slate;
  color: $slate;
  padding: 5rem;
  width: 50rem;
  align-items: center;
  z-index: 100;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  box-shadow: $box-shadow;
  overflow: hidden;

  img {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.close-modal-button {
  position: absolute;
  border: none;
  cursor: pointer;
  background-color: transparent;
  top: .5rem;
  right: .5rem;

  img {
    height: 3rem;
    width: 3rem;
    transition: .3s;
  }

  // &:hover {
  //   img {
  //     transform: rotate(180deg) scale(1.25);
  //   }
  // }
}
