@import url('https://fonts.googleapis.com/css?family=Crete+Round|Josefin+Slab|Lobster|Pacifico');

$pacifico: 'Pacifico', cursive;
$lobster: 'Lobster', cursive;
$creteRound: 'Crete Round', serif;
$josefin: 'Josefin Slab', serif;

h1 {
  // font-size: 2.4rem;
  font-family: $pacifico;
}

h2 {
  // font-size: 2.2rem;
  font-family: $pacifico;
}

h3 {
  // font-size: 1.8rem;
  font-family: $pacifico;
}

h4 {
  // font-size: 1.6rem;
  font-family: $creteRound;
}

h5 {
  // font-size: 1.2rem;
  font-family: $creteRound;
}

h6 {
  // font-size: 1.0rem;
  font-family: $creteRound;
}

p, li, a, div, textarea {
  // font-size: 1.6rem;
  font-size: 1.4rem;
  font-family: $josefin;
}

a {
  .title {
    display: inline-block;
  }
}
