// Colors
$dark-teal: #00585e;
$teal: #009494;
$beige: #f5f2dc;
$slate: #454445;
$orange: #ff5729;

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$primary: $teal;
$link: $orange;
$grey-dark: $slate;
$grey-light: $beige;

// Spacing
$border-width: .2rem;
$button-padding: 1.5rem;
$input-padding: 1.2rem;

// Box Shadows
$box-shadow: 0px 5px 10px rgba($slate, 0.3);
$box-shadow-dark: 0px 5px 10px rgba($black, 0.3);

@import '../bulma/bulma';